ensure yarn
#----------------------------------------#
exec scripts.cfg
#----------------------------------------#
endpoint_add_tcp "0.0.0.0:30120"
endpoint_add_udp "0.0.0.0:30120"

sets tags "default, esx, esx legacy, warzone, shooter"
#----------------------------------------#
sv_licenseKey "cfxk_fnyGvjMo01aL6LCg7kUl_3uAGTU"
set steam_webApiKey "27D92E9729B46A8B0DF46129E98718D3"
sv_hostname "Warzone | ESX Core Only"
sets sv_projectName "Warzone | ESX Core"
sets sv_projectDesc "tes"
set mysql_connection_string "mysql://root@localhost/tgw"
sv_maxclients 48
sets locale "root-AQ" 


#----------------------------------------#

add_principal group.admin group.user
add_ace group.admin command allow # allow all commands
add_ace group.admin command.quit deny # but don't allow quit
add_ace resource.es_extended command.add_ace allow
add_ace resource.es_extended command.add_principal allow
add_ace resource.es_extended command.remove_principal allow
add_ace resource.es_extended command.stop allow
add_principal identifier.fivem:3902358 group.admin #TGI
add_principal identifier.discord:459605823954485250 group.admin #TGI

#----------------------------------------#
add_ace group.admin command allow
add_ace group.admin command.quit allow 
#----------------------------------------#
